@import '~prismjs/themes/prism.css'; 

.bg-custom-dark {
  background-color: #343a40;
}

pre {
  background-color: #282c34; 
  color: #abb2bf; 
  font-family: 'Fira Code', 'Consolas', 'Monaco', monospace;
  font-size: 0.9rem;
  padding: 1em;
  border-radius: 0.3em;
}

code {
  background-color: transparent; 
  color: inherit;
  padding: 0;
  border: 0;
}
pre code span.token.operator,
pre code span.token.punctuation {
  background: none !important;
  box-shadow: none !important;
}
.btn-outline-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}



.btn:hover {
  color: black;
  background-color: rgb(50, 99, 119);
  border-color: rgb(50, 99, 119);
}