<div class="d-flex text-center text-white bg-custom-dark vsc-initialized">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light-gray" style="width: 250px; border-right: 1px solid white;">
    <a href="/side-bar" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4 fw-bold text-white-custom">Components</span>
    </a>    
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li *ngFor="let component of componentM" class="nav-item">
        <button class="sidebarComp nav-link d-flex align-items-center" type="button" (click)="selectComponent(component)">
          
          <span class="ms-2">{{ component.name }}</span>
        </button>
      </li>
      
    </ul>
  </div>

  <div *ngIf="selectedComponent" class="flex-grow-1 p-4">
    <h2 class="mb-3">
      {{ selectedComponent.name }}
    </h2>

    <div >
      <p>{{ selectedComponent.description }}</p>

      <div class="demos">
        <button *ngIf="selectedComponent.name === 'modal'" class="btn btn-primary" (click)="modalComponent.openModal()">Open Modal</button>
        <app-modal #modalComponent></app-modal>
        <div class="container-fluid"></div>
        <router-outlet></router-outlet>
      </div>
      <hr>
      
      

      <button type="button" ngClass="btn" 
        class="btn btn-sm btn-outline-secondary me-2 toggle-code active" *ngIf="selectedComponent" (click)="buttonClickCode()" 
        placement="bottom" ngbTooltip="Code of the Component"> Code
      </button>
      
      <hr>
      <div *ngIf="bttonClickCode">
        <h3>HTML Code:</h3>
        <pre class="language- bg-dark text-light p-3 rounded text-start">
          <code class="language-markup">{{ htmlContent }}</code>
        </pre>
        <h3>TypeScript Code:</h3>
        <pre class="language- bg-dark text-light p-3 rounded text-start">
          <code class="language-typescript">{{ tsContent }}</code>
        </pre>
      </div>
      
          
    </div>
  </div>
</div>
