<div class="container mt-3">
    <h2>Tooltip Component</h2>
    <button type="button" class="btn btn-outline-secondary me-2" placement="top" ngbTooltip="Tooltip on top">
        Tooltip on top
    </button>
    <button type="button" class="btn btn-outline-secondary me-2" placement="end" ngbTooltip="Tooltip on right">
        Tooltip on right
    </button>
    <button type="button" class="btn btn-outline-secondary me-2" placement="bottom" ngbTooltip="Tooltip on bottom">
        Tooltip on bottom
    </button>
    <button type="button" class="btn btn-outline-secondary me-2" placement="start" ngbTooltip="Tooltip on left">
        Tooltip on left
    </button>
  </div>
  
  <!-- <h2 class="mb-3">
    <i class="bi" [ngClass]="component.icon"></i> {{ component.name }}
  </h2>
  <div [ngClass]="component.animation">
    <p>{{ component.description }}</p>
    
    <pre><code>{{ component.code }}</code></pre>
  </div> -->
  